<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Movies</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        Log In
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Sign Up</a
      >
    </li>
    <li>
      <button *ngIf="userIsAuthenticated" mat-button (click)="logOut()">
        Log Out
      </button>
    </li>
  </ul>
</mat-toolbar>
