<h2 class="primary">My Movie Watch List</h2>

<div class="card">
  <p *ngIf="!userIsAuthenticated" class="no-results">
    Please <a routerLink="/login">Log In</a> or <a routerLink="/signup">Sign Up</a> to start adding movies to your collection.
  </p>

  <p *ngIf="movieCollection.length === 0 && userIsAuthenticated" class="no-results">
    No movies in your watch list. Click "Add to Watch List" to have your
    personal choices appear here.
  </p>

  <ul *ngIf="movieCollection.length > 0 && userIsAuthenticated" class="collection-list">
    <li *ngFor="let movie of movieCollection">
      <img [src]="movie.poster" alt="{{ movie.title }} movie poster image" />
    </li>
  </ul>
</div>
