.no-results {
  padding: 0.5rem 1.5rem 0;
}

.card {
  padding: 0.5rem;
}

ul.collection-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    list-style: none;
    margin: 0.5rem;

    .remove {
      display: none;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }

    &:hover {
      .remove {
        display: block;
      }
    }

    img {
      max-height: 205px;
      // cursor: pointer;  <- add when we integrate drag and drop
    }
  }
}
