.no-results {
  padding: 0.5rem 1.5rem 0;
}

.card {
  padding: 0.5rem;
}

ul.collection-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    display: inline-block;
    flex: 1;
    margin: 0.5rem;

    img {
      max-width: 130px;
      cursor: pointer;
    }
  }
}
