html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// based on purple theme
.primary {
  color: #673ab7;
}

h2 {
  &.title {
    display: inline;
    margin-right: 1rem;
  }
}

.card {
  display: block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  box-shadow: 1px 2px 3px #ccc;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.shaded-bar-container {
  background: #ccc;
}

// For when using [hidden] instead of *ngIf
[hidden] {
  display: none !important;
}
