.results {
    .searching, .search-results {
        display: block;
        margin-top: 1rem;
    }
}

.movie-details {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;

    div[class^="column-"] {
        margin: 0 2rem;

        small {
            opacity: 0.5;
        }
    }

    .plot {
        margin: 1rem 0;
    }
}